.headline {
  font-weight: 300;
  font-size: 1.9rem;

  color: $mainBlue;
  margin: 0 auto;
  @mixin atSmall {
    font-size: 2.9rem;
  }

  &--centered {
    text-align: center;
  }

  &--orange {
    color: $mainOrange;
  }

  &--small {
    font-size: 1.275rem;
    @mixin atSmall {
      font-size: 1.875rem;
    }
  }

  &--narrow {
    max-width: 500px;
  }

  &--light {
    font-weight: 100;
  }

  &--bot-margin-small {
    margin-bottom: 0.5em;
  }

  &--bot-margin-large {
    margin-bottom: 1.6em;
  }

  &--no-top-margin {
    margin-top: 0;
  }
}
