.page-section {
  padding: 1.2rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--blue {
    color: #ffffff;
    background-color: $mainBlue;
  }

  &--testimonials {
    background-color: #e0e6ef;
    @mixin atLarge {
      &.lazyloaded {
        /* this create from lazyload to loaded by lazy package */
      background-size: cover;
      background: url("/assets/images/testimonials-bg.jpg") top center no-repeat;
      }
    }
  }

  &--no-b-pad-until-medium {
    padding-bottom: 0;
    @mixin atMedium {
      padding-bottom: 4.5rem;
    }
  }

  &--no-b-pad-until-large {
    padding-bottom: 0;
    @mixin atLarge {
      padding-bottom: 4.5rem;
    }
  }
}
