.site-header {
  padding: 0.8rem 0;
  position: absolute;
  z-index: 10;
  width: 100%;

  @mixin atMedium {
    background-color: rgba($mainBlue, 0.4);
  }

  &__btn-container {
    float: right;
  }

  &__logo {
    position: absolute;
    top: 0;
    background-color: rgba($mainBlue, 0.9);
    padding: 1.2rem 2rem;

    left: 50%;
    transform: translateX(-50%) scale(0.8);
    transform-origin: 50% 0;

    @mixin atMedium {
      left: auto;
      transform: translateX(0);
    }
  }

  &__logo__graphic {
    text-indent: -9999px;
  }

  &__menu-icon {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-content {
    display: none;

    @mixin atMedium {
      display: block;
    }
  }
}
